.md-sidebar--primary {
  width: 380px; 
  margin-left: -10%;
}



.md-nav--primary {
  width: 360px;
}


/* Widen the right sidebar (Table of Contents) */
.md-sidebar--secondary {
  width: 440px; /* Adjust as needed */
  margin-right: -15%
}

/* Let ToC items use full width of sidebar */
.md-nav--secondary {
  width: 420px;
  margin-right: -15%
}